@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

/* ========Mobile version CSS Rule set=======1 */
.nav-menu {
  background-color: #fff;
  background-image: url('./images/topbg.png');
  background-size: cover;
  height: 120px;
}

.mobile-menu {
  min-height: 100vh;
  width: 100vw;
  display: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 20;
  background: #e926102f;
  backdrop-filter: blur(10px);
  transition: 0.6s;
}

.bg-program li {
  margin-top: 10px;
}

.mobile-menu ul {
  list-style-type: none;
  margin: 10% 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menu ul li {
  padding: 10% 5%;
}

.mobile-menu li a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.imageone {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.nav-menu-desktop {
  display: none;
}

.list2 {
  display: none;
}

.nav-menu-desktop2 {
  display: none;
}

.headline {
  background-image: url('./images/bgimagedesign.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 250px 0;
  background-color: #d3d3d3;
  padding: 45px;
  width: 100%;
  height: 650px;
}

.topheadingh3 {
  color: #ec5242;
}

.topheadingh1 {
  font-size: 47px;
  display: block;
  color: red;
  font-weight: 900;
  background-image: linear-gradient(to bottom right, red, yellow);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ec0e0e4f;
}

.paradiv {
  background-color: #d3d3d3;
  border: 5px solid #fff;
  padding: 10px;
  width: 100%;
}

.headlinepara {
  color: #272a31;
}

.datediv {
  width: 100%;
}

.dateheading {
  color: #272a31;
  font-weight: 800;
}

.locationpara {
  color: #272a31;
}

.headlinedesktop {
  display: none;
}

#main-section {
  text-align: center;
  width: 100%;
}

.cover-program {
  background-image: url('./images/patternbg.png');
  background-repeat: repeat;
  background-position: center;
  background-color: rgb(39, 42, 50);
  padding: 5px;
  width: 100%;
  height: 750px;
}

.hr {
  width: 30px;
  border-color: #ec5242;
  margin-bottom: 16px;
}

.program-list h2 {
  color: #fff;
  margin-top: 20px;
}

.bg-program {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.1);
  width: 99%;
}

.bg-program img {
  padding: 0%;
}

.bg-program li h3 {
  color: #ec5242;
  font-size: 14px;
  text-align: left;
  padding-left: 2px;
  margin-left: 2px;
  width: 99%;
}

.bg-program li p {
  font-size: 12px;
  color: #fff;
  margin-left: 2px;
  padding: 2px;
}

.join-btn {
  width: auto;
  background-color: #ec5242;
  margin-top: 4rem;
  position: relative;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 1.5rem 2rem;
  border: none;
  align-items: center;
  text-align: center;
}

.buttonlink {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.cover-program-desktop {
  display: none;
}

.hr1 {
  width: 30px;
  border-color: #ec5242;
  margin-bottom: 16px;
}

.featuredh {
  text-align: center;
  color: #272a31;
  font-weight: 600;
  font-size: 22px;
  margin-top: 35px;
}

.image-of-background {
  background-image: url('./images/speaker_bg.jpg');
  width: 100px;
  height: 100px;
  margin-left: 10px;
  float: left;
}

.featured-speakers {
  position: relative;
  top: 14px;
  left: 14px;
}

.fetured-text {
  float: left;
  margin-left: 10px;
  width: 70%;
  overflow: visible;
}

.featured-heading {
  margin-left: 15px;
  color: #272a31;
}

.featured-para {
  margin-left: 10px;
  font-size: 12px;
  color: #ec5242;
}
.featured-speaker::after {
clear: both;
content: "";
display: table;
}

.featured-span {
  margin-left: 10px;
  font-size: 12px;
  color: #272a31;
}

.see-more {
  border: 1px solid #272a31;
  border-radius: 5px;
  padding: 15px 20px;
  width: 90%;
  margin-top: 35px;
  margin-bottom: 20px;
  position: relative;
  left: 20px;
}

#featured-desktop {
  display: none;
}

.partner-section {
  background-color: rgb(39, 42, 50);
  height: 550px;
}

.logosection-heading {
  text-align: center;
  color: #272a31;
  font-weight: 600;
  font-size: 35px;
  margin-top: 35px;
}

.partner-heading {
  color: #fff;
}

.partner-div {
  text-align: center;
}

.footer-div {
  text-align: center;
}
/* ========Media Queries=======1 */
@media screen and (min-width: 768px) {
  nav.nav-menu {
    display: none !important;
  }

  header .mobile-menu {
    display: none;
  }

  nav.nav-menu-desktop {
    display: flex;
    background-color: #272a31;
    justify-content: flex-end;
    padding-right: 54px;
  }

  .list {
    display: flex;
    color: #fff;
    list-style-type: none;
  }

  .list li {
    padding-right: 44px;
  }

  .header-icon {
    text-decoration: none;
    color: #fff;
  }

  nav.nav-menu-desktop2 {
    display: flex;
  }

  .div1 {
    flex: 40%;
  }

  .div2 {
    flex: 60%;
  }

  .logolink {
    width: 90px;
    height: 90px;
  }

  .list2 {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 60px;
  }

  .list2 li {
    padding: 25px;
    align-self: center;
  }

  .list2 li a {
    text-decoration: none;
    color: #272a31;
  }

  .summit-logo {
    position: relative;
    left: 80px;
  }

  .nav-links {
    position: relative;
    left: 465px;
  }

  article .headline {
    display: none;
  }

  article .headlinedesktop {
    display: block;
  }

  .cover-program-desktop {
    background-image: url('./images/patternbg.png');
    background-repeat: repeat;
    background-position: center;
    background-color: rgb(39, 42, 50);
    padding: 5px;
    width: 100%;
    height: 450px;
  }

  #main-section .cover-program {
    display: none;
  }

  #main-section .cover-program-desktop {
    display: block;
  }

  .program-list-desktop h2 {
    color: #fff;
    margin-top: 20px;
  }

  .desktop-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .bg-program-desktop {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    overflow: hidden;
    margin: 0 5px;
    padding: 0 10px;
    height: 250px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.1);
    width: 16%;
  }

  .bg-program-desktop li h3 {
    color: #ec5242;
    font-size: 16px;
    padding-left: 2px;
    margin-left: 2px;
    width: auto;
  }

  .bg-program-desktop li p {
    font-size: 14px;
    color: #fff;
    margin-left: 2px;
    padding: 2px;
  }

  .whole-link {
    color: #fff;
    text-decoration: underline;
    margin-top: 30px;
  }

  #featured-mobile {
    display: none;
  }

  #featured-desktop {
    display: block;
  }

  .partner-section {
    height: 300px;
  }
}

/* ========Desktop version CSS Rule set=======1 */
.topdesktop {
  background-image: url('./images/topbg.png');
  background-size: cover;
  height: 200px;
}

.topheadingdesktop {
  color: orangered;
  font-size: 34px;
  font-weight: 400;
  position: relative;
  top: 150px;
  left: 105px;
}

.topheadingdesktopdiv {
  background-image: url('./images/bgimagedesign.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 350px 0;
  background-color: #fff;
  position: relative;
  left: 65px;
  padding: 45px;
  width: 100%;
  height: 545px;
}

.topheadingh1desktop {
  font-size: 50px;
  display: block;
  color: red;
  font-weight: 900;
  background-image: linear-gradient(to bottom right, red, yellow);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ec0e0e4f;
}

.paradivdesktop {
  background-color: #d3d3d3;
  border: 5px solid darkgrey;
  padding: 10px;
  width: 50%;
}

.headlineparadesktop {
  color: #272a31;
}

.datedivdesktop {
  width: 100%;
}

.dateheadingdesktop {
  color: #272a31;
  font-weight: 800;
}

.locationparadesktop {
  color: #272a31;
}

table {
  width: 80%;
  position: relative;
  left: 110px;
}

td {
  padding: 15px;
}

.featured-table {
  text-align: center;
}

.see-more-desktop {
  border: 1px solid #272a31;
  border-radius: 5px;
  padding: 15px 20px;
  width: 40%;
  margin-top: 35px;
  margin-bottom: 20px;
  position: relative;
  left: 400px;
}

.dynamic-desktop {
  text-align: center;
}
